In [1]:
import pandas as pd
import numpy

In [12]:
dataframe=pd.read_csv('testlog.csv')
dataframe

        n_processes;1
0    runtime;0.062350
1   error;6193.016586
2       n_processes;2
3    runtime;0.052350
4   error;6193.016586
5       n_processes;3
6    runtime;0.042350
7   error;6193.016586
8       n_processes;4
9    runtime;0.032350
10  error;6193.016586
11      n_processes;5
12   runtime;0.022350
13  error;6193.016586
14      n_processes;6
15   runtime;0.012350
16  error;6193.016586